[submodule "THINGS/things.glmsingle/code/glmsingle/GLMsingle"]
	path = THINGS/things.glmsingle/code/glmsingle/GLMsingle
	url = git@github.com:courtois-neuromod/GLMsingle.git
[submodule "retinotopy/fmriprep"]
	path = retinotopy/fmriprep
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.retinotopy.fmriprep
	datalad-id = 48398cbc-de88-4e06-ad53-09fec11fe65b
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.retinotopy.fmriprep"
[submodule "anatomical/smriprep"]
	path = anatomical/smriprep
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.anat.smriprep
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.anat.smriprep"
[submodule "retinotopy/prf/code/analyzePRF"]
	path = retinotopy/prf/code/analyzePRF
	url = git@github.com:cvnlab/analyzePRF.git
