[submodule "retinotopy/fmriprep"]
	path = retinotopy/fmriprep
	url = git@github.com:courtois-neuromod/retinotopy.fmriprep.git
	datalad-id = 48398cbc-de88-4e06-ad53-09fec11fe65b
	datalad-url = git@github.com:courtois-neuromod/retinotopy.fmriprep.git
[submodule "anatomical/smriprep"]
	path = anatomical/smriprep
	url = git@github.com:courtois-neuromod/anat.smriprep.git
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = git@github.com:courtois-neuromod/anat.smriprep.git
[submodule "retinotopy/prf/code/analyzePRF"]
	path = retinotopy/prf/code/analyzePRF
	url = git@github.com:cvnlab/analyzePRF.git
