name: Release workflow

on:
  release:
    types: [published]

jobs:
  upload-to-zenodo:
    runs-on: ubuntu-latest

    steps:
      - name: publish on Zenodo
        uses: BIDS-flux/datalad-zenodo-upload@main
        id: integration
        with:
          recursion_limit: 1
          additional_subdatasets: THINGS/fmriprep/sourcedata/things/stimuli fLoc/fmriprep/sourcedata/floc/stimuli retinotopy/fmriprep/sourcedata/retinotopy/stimuli anatomical/smriprep/sourcedata/freesurfer
          zenodo_token: ${{ secrets.ZENODO_API_TOKEN }}

      - name: Outputs Zenodo records.
        run: |
          echo "zenodo_doi = ${{ steps.integration.outputs.zenodo_doi }}"
          echo "zenodo_url = ${{ steps.integration.outputs.zenodo_url }}"
          echo "archive_url = ${{ steps.integration.outputs.archive_url }}"
